*{
margin: 0px;
padding: 0px;
}

body {
background: rgb(145, 145, 145);
color: rgb(255, 255, 255);
}

#contenedor {
	width: 1200px;
	margin: auto; 
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	height: 180px;
	background: rgb(8, 13, 71); 
}
	
ul, ol {
	list-style:none;
}

.nav li a {
	padding:10px; 15px; 
	display:block;
}

.nav > li a{
	float:left;
}
	
	header h2 {
		font-size: 40px; 
		text-align: center; 
		line-height: 70px;
	}

	
	nav {
		background: rgb(78, 106, 148);
		height: 60px;
	}
	
	nav h3 {
		color: rgb(255, 255, 255);
		font-size: 20px;
		line-height: 50px;
	text-align: auto; 
	}
	
	
	
	#contenido {
		width: 1200px; 
		height: 600px;
		background: rgb(24, 105, 224);
		margin-top: 5px;
		margin-right: 5px;
				text-align: center; 
	}
	

		#contenido h2 {
		font-size: 25px; 
		text-align: center; 
		line-height: 70px;
		color: rgb(0,0,0)
		}

		#contenido h4 {
			font-size: 15px; 
		text-align: center; 
		line-height: 15px;
		}

		table {
		height: 179px; 
		text-align: center; 
		width: 420px;
		margin-left: auto;
		margin-right: auto;
		background: rgb(78, 106, 148);
		}
		
footer {
			font-size: 10px; 
		text-align: center; 
		line-height: 20px;
		background: rgb(78, 106, 148);
}






